<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrALDOdNhJU9MTnujeHxBXBCLTg-_sIqk</string>
	<key>GCM_SENDER_ID</key>
	<string>962458931507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gamenation.GriegSlots</string>
	<key>PROJECT_ID</key>
	<string>champion-of-greece</string>
	<key>STORAGE_BUCKET</key>
	<string>champion-of-greece.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962458931507:ios:c626aa6710d46c200cae46</string>
</dict>
</plist>